@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Base Layer ---- */
@layer base {
    html {
        scroll-behavior: smooth;
    }
}

/* ---- Components Layer ---- */
@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-semibold transition-colors;
    }

    .card-shdw {
        /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
        /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
    }

    .container {
        @apply w-full max-w-[1206px] my-0 mx-auto p-4;
    }
}

/* ---- Utilities Layer ---- */
@layer utilities {
    .content-auto {
        content-visibility: auto;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE & Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}